html {
  text-align: center;  /*set this with the body inline-block to center the body*/
  background-color: white;
  font-size: 1vh;  /*set root font size, and then use rem throughout the file*/
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:Montserrat;
}

@media (max-width: 66vh) { /*portrait screen*/
  html {
    font-size: 1.5vw;
  }
}

body {
  background:url(bg.jpg);
  background-position: -64% 63%;
  color: #2A3B47;
  font-family: 'Cabin Sketch', "Arial";
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width:75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 100vh) { /*portrait screen*/
  body {
    width: 100vw;
  }
}

svg {
  height: 36vh;
}

@media (max-width: 40vh) { /*portrait screen*/
  svg {
  height: 90vw;
  }
}

h1 {
  font-size: 8.4rem;
  font-weight: 100;
  margin: 2.5rem 0;
  color:#29ABE2;
  font-weight:700;
}

h2 {
  font-size: 4.5rem;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 100;
  margin: 1.7rem;
}

#keypad a {
  font-size: 6.4rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
}

#keypad a.finished {  /*reset pointer after the game is over to prevent further clicking*/
  cursor: default;
}

#guessing {
  font-size: 6.2rem;
  margin: 2.4rem auto;
}

#keypad .correct-letter {   /*letters which belong to the word*/
  color: #29ABE2;
  cursor: no-drop;
}

#keypad .incorrect-letter {  /*letters which don't belong to the word*/
  color: #f57b7b;
  cursor: no-drop;
}

.hidden {  /*visibility: hidden;*/
  display: none;
}

[status="escaped"] {  /*a status of the masthead*/
  color: #93278F;
}

[status="hanged"] {  /*a status of the masthead*/
  color: #f57b7b;
}


#tally {
  margin-bottom: 1rem;
}
span {
  font-size: 3.3rem;
}

#wins,
#losses {
  margin-right: 4rem
}

a:hover {
  color: white;
}

a:active {  /*when buttons are being pressed down*/
  position: relative;
  top: 2px;
}

svg {
  stroke: #93278F;
  stroke-width: 3.8;
  stroke-linecap: round;
}



#new-game {
text-decoration:none;
background:#2A3B47;
padding: 20px;
font-size:24px;
border-radius:36px;
color:#fff;
border:2px #93278F solid;
}

#new-game:hover {
background:#fff;
color:#2A3B47;
}

p {
font-size:18px;
}